 
 
  body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
    background-image: url("img_nature.jpg");

 
  min-height: 380px;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} 
 